@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --dark-blue: #3A4895;    
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}